<ion-view view-title="BeerB" class="splash_screen_bg">
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search Beers">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>
  <!-- <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-content>
    <div class="bar bar-header item-input-inset">
  </div>
<div class="row">
  <div class="col">


    <div class="item item-divider">
      <img class="full-image" src="img/boftheday4.png">


    <div class="item item-body ">
      <img class="button full-image" href="#" src="img/sculpin.png">
      <p>
        Sculpin IPA by Ballast Point
      </p>
        <p>
          This delicious Ballast Point Ale won a gold medal at the World Beer Cup 2010 in the International Pale Ale category.
          The Sculpin fish has poisonous spikes on it’s fins that can give a strong sting.
        </p>

    </div>
</div>
</div>
</div>
<div class="item item-body ">

    <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>

</div>
